<ng-container *ngIf='!is_landscape'>
  <p class='stop-watch-time'>{{stopWatchService.timerVal * 1000 | date:'mm:ss':'UTC'}}</p>

  <ion-grid class='table'>
    <ion-row>
      <ion-col size='4'>
        LAP NO
      </ion-col>
      <ion-col size='4'>
        TIME
      </ion-col>
      <ion-col size='4'>
        SPLIT
      </ion-col>
      </ion-row>

      <ion-row *ngFor='let lap of laps;let index=index;let first=first'>
        <ion-col size='4'>
          {{index+1 }}
        </ion-col>
        <ion-col size='4'>
         {{lap * 1000 | date:'mm:ss':'UTC'}}
        </ion-col>
        <ion-col size='4'>
          {{ !first? ((laps[index] - laps[index - 1]) * 1000 | date:'mm:ss':'UTC'): (lap[index] * 1000 | date:'mm:ss':'UTC')}}
        </ion-col>
        </ion-row>


      </ion-grid>


        <ion-button expand='block'  *ngIf='stopWatchService.isResetted' (click)='startTimer()'>START
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-button>

        <div  *ngIf='stopWatchService.isStarted' >
          <ion-button class="half-width" size='large' color='secondary'  (click)='lapTime()'>LAP
            <ion-ripple-effect type="bounded"></ion-ripple-effect>
          </ion-button>

          <ion-button class="half-width" color='primary' size='large' (click)='stopTimer()'>STOP
            <ion-ripple-effect type="bounded"></ion-ripple-effect>
          </ion-button>

        </div>

        <div *ngIf='stopWatchService.isStopped'>
          <ion-button class="half-width" color='secondary' size='large'  (click)='resume()'>RESUME
            <ion-ripple-effect type="bounded"></ion-ripple-effect>
          </ion-button>

          <ion-button class="half-width" color='primary' size='large' (click)='reset()'>RESET
            <ion-ripple-effect type="bounded"></ion-ripple-effect>
          </ion-button>
        </div>

</ng-container>

<ng-container *ngIf='is_landscape'>

  <p class='stop-watch-time landscape'><span class="lapno">{{laps.length}}</span>{{stopWatchService.timerVal * 1000 | date:'mm:ss':'UTC'}}</p>
</ng-container>

